rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /appData/{document=**} {
      allow read, write: if true;
    }
    match /musicTracks/{document=**} {
      allow read, write: if true;
    }
    match /personalityAudio/{document=**} {
      allow read, write: if true;
    }
  }
}
